<h2>{{ profile.profile_name }}</h2>
<div>
    <div>
        <img src="inputs/{{ profile.profile_name }}.png">
    </div>
    
    <table class="width__90">
        <caption>Section Properties</caption>
        <tbody>
            <tr>
                <td>Length of web</td>
                <td>a</td>
                <td>{{ profile.web_length }}</td>
                <td><i>mm</i></td>
            </tr>
            <tr>
                <td>Length of flange</td>
                <td>b</td>
                <td>{{ profile.flange_length }}</td>
                <td><i>mm</i></td>
            </tr>
            <tr>
                <td>Thickness of web</td>
                <td>t<sub>1</sub></td>
                <td>{{ profile.web_thk }}</td>
                <td><i>mm</i></td>
            </tr>
            <tr>
                <td>Thickness of flange (avg.)</td>
                <td>t<sub>2</sub></td>
                <td>{{ profile.flange_thk }}</td>
                <td><i>mm</i></td>
            </tr>
            <tr>
                <td>Torsional Constant</td>
                <td>a</td>
                <td>{{ profile.tor_constant }}</td>
                <td><i>mm<sup>4</sup></i></td>
            </tr>

            <tr>
                <td>Area of cross-section</td>
                <td>A</td>
                <td>{{ profile.area }}</td>
                <td><i>mm<sup>2</sup></i></td>
            </tr>
            <tr>
                <td>Moment of inertia about major axis</td>
                <td>I<sub>x</sub></td>
                <td>{{ profile.I_xx }}</td>
                <td><i>mm<sup>4</sup></i></td>
            </tr>
            <tr>
                <td>Moment of inertia about minor axis</td>
                <td>I<sub>y</sub></td>
                <td>{{ profile.I_yy }}</td>
                <td><i>mm<sup>4</sup></i></td>
            </tr>
            <tr>
                <td>Extreme fiber Distance from N.A (minor axis)</td>
                <td>Y</td>
                <td>{{ profile.Y }}</td>
                <td><i>mm</i></td>
            </tr>
            <tr>
                <td>Extreme fiber Distance from N.A (major axis)</td>
                <td>X</td>
                <td>{{ profile.X }}</td>
                <td><i>mm</i></td>
            </tr>
            <tr>
                <td>Elastic section modulus about major axis</td>
                <td><i>S<sub>x</sub> = I<sub>x</sub> / Y</i></td>
                <td>{{ profile.S_x }}</td>
                <td><i>mm<sup>3</sup></i></td>
            </tr>
            <tr>
                <td>Elastic section modulus about minor axis</td>
                <td><i>S<sub>y</sub> = I<sub>y</sub> / X</i></td>
                <td>{{ profile.S_y }}</td>
                <td><i>mm<sup>3</sup></i></td>
            </tr>
        </tbody>
    </table>

    <table borderless width__90>
        <tbody>
            <tr>
                <td><img src="inputs/{{ profile.profile_name }}p.png"></td>
            </tr>
        </tbody>
    </table>

    <table class="width__90">
        <tbody>
            <tr>
                <td>Lower region centroid distance from PNA</td>
                <td>x</td>
                <td>{{ profile.plastic_x }}</td>
                <td><i>mm</i></td>
            </tr>
            <tr>
                <td>Upper region centroid distance from PNA</td>
                <td>y</td>
                <td>{{ profile.plastic_y }}</td>
                <td><i>mm</i></td>
            </tr>
            <tr>
                <td>Plastic section modulus about major axis</td>
                <td><i>Z<sub>x</sub> = 0.5 A(x + y)</i></td>
                <td>{{ profile.Z_x }}</td>
                <td><i>mm<sup>3</sup></i></td>
            </tr>

            <tr>
                <td>Yield strength of Aluminum</td>
                <td>F<sub>y</sub></td>
                <td>{{ profile.F_y }}</td>
                <td><i>MPa</i></td>
            </tr>
            <tr>
                <td>Modulus of elasticity of aluminum</td>
                <td>E<sub>a</sub></td>
                <td>70000</td>
                <td><i>MPa</i></td>
            </tr>
        </tbody>
    </table>
</div>

<h3>Moment Capacity by Yielding</h3>
<div>
    <table class="borderless ml-2">
        <tbody>
            <tr>
                <td>Moment capacity, <i>M<sub>np</sub></i></td>
                <td>=</td>
                <td><i>min( ZF<sub>y</sub> , 1.5 F<sub>y</sub>S<sub>x</sub> )</i></td>
            </tr>
            <tr>
                <td></td>
                <td>=</td>
                <td>{{ profile.Mn_yield }} <i>kN-m</i></td>
            </tr>
        </tbody>
    </table>
</div>

<h3>Moment Capacity by Local Buckling</h3>
<div>
    <div class="ideal__profile">
        <figure>
            <img src="inputs/{{ profile.profile_name }}-lb-web.png">
        </figure>
        <figure>
            <img src="inputs/{{ profile.profile_name }}-lb-flange.png">
        </figure>
    </div>

    <table class="borderless width__100 fig__table">
        <tbody>
            <tr>
                <td><img src="inputs/{{ profile.profile_name }}-lb-table.png"></td>
            </tr>
        </tbody>
    </table>

    <p>The weighted average method is utilized to compute the nominal flexure strength due to the limit state of local buckling –</p>
    <p>For web elements under flexural compression –</p>
    <table class="borderless width__80 fig__table">
        <tbody>
            <tr>
                <td><img src="inputs/{{ profile.profile_name }}-lb-web-cap.png"></td>
            </tr>
        </tbody>
    </table>

    <p>For flange elements under uniform compression –</p>
    <table class="borderless width__100 fig__table">
        <tbody>
            <tr>
                <td><img src="inputs/{{ profile.profile_name }}-lb-flange-cap.png"></td>
            </tr>
        </tbody>
    </table>

    <table class="borderless ml-2">
        <tbody>
            <tr>
                <td>Total moment capacity, <i>M<sub>nlb</sub></i></td>
                <td>=</td>
                <td><i>M<sub>nlb,w</sub> + M<sub>nlb,f</sub></i></td>
            </tr>
            <tr>
                <td></td>
                <td>=</td>
                <td>{{ profile.Mn_lb }} <i>kN-m</i></td>
            </tr>
        </tbody>
    </table>
</div>

<h3>Moment Capacity by Lateral Torsional Buckling</h3>
<div>
    <p>The member is considered to be continuously braced by the glass panel. Therefore, lateral torsional buckling (LTB) not governs.</p>
</div>

<div>
    <p>The nominal bending strength is the minimum value obtained considering the limit states of yielding, local buckling and lateral-torsional buckling. Therefore –</p>

    <table class="borderless ml-2">
        <tbody>
            <tr>
                <td>Nominal Moment Capacity, <i>M<sub>n</sub> = min( M<sub>np</sub> , M<sub>nlb</sub> , M<sub>nmb</sub> )</i></td>
                <td>=</td>
                <td>{{ [profile.Mn_yield, profile.Mn_lb] | min }} <i>kN-m</i></td>
                <td></td>
            </tr>
            <tr>
                <td>So, the design moment capacity, <i>φM<sub>n</sub></i></td>
                <td>=</td>
                <td>{{ profile.phi_Mn }} <i>kN-m</i></td>
                <td><i>; φ = 0.9</i></td>
            </tr>
        </tbody>
    </table>
</div>
