{% for anchor in cat.anchorage %}
{% if anchor.anchor_dia %}
    {% set N_p5 = anchor.N_p5 | default(20, true) %}
    {% set h_a = anchor.h_a | default(1000, true) %}

    {% if anchor.anchor_dia == 10 %}
        {% set A_seN = 58.0 %}
    {% elif anchor.anchor_dia == 12 %}
        {% set A_seN = 84.3 %}
    {% elif anchor.anchor_dia == 16 %}
        {% set A_seN = 156.7 %}
    {% endif %}

    {# ================= Load Calculation =================== #}
    {% if anchor.clump_type == "Box Clump" %}
        {% set design_Ry = anchor.reaction_Ry * 1.6 %}
        {% set design_Rz = anchor.reaction_Rz * 1.4 %}
        {% set N_ua = 0 %}
        {% set N_ug = 0 %}
        {% set V_ua = design_Ry / anchor.anchor_nos %}
        {% set V_ug = V_ua * 2 %}
        {% set bp_b = anchor.bp_b %}
        {% set bp_n = (anchor.bp_width_B - 0.95 * bp_b) / 2 %}

        {% set s1 = anchor.bp_length_N - 2 * 40 %}
        {% set s2 = anchor.bp_width_B - 2 * 25 %}
        {% set A_NC = (3 * anchor.embed_depth + s1) * (1.5 * anchor.embed_depth + s2 + ([1.5 * anchor.embed_depth, anchor.C_a1] | min)) %}
        {% set A_VC = (3 * anchor.C_a1 + s1) * ([anchor.h_a, (1.5 * anchor.C_a1)] | min) %}
        {% set bp_d = anchor.bp_width_B %}

    {% elif anchor.clump_type == "U Clump" %}
        {% set design_Ry = anchor.reaction_Ry * 1.6 %}
        {% set design_Rz = anchor.reaction_Rz * 1.4 %}
        {% set N_ua = design_Ry / anchor.anchor_nos %}
        {% set N_ug = N_ua * anchor.anchor_nos %}
        {% set V_ua = design_Rz / anchor.anchor_nos %}
        {% set V_ug = V_ua * 2 %}

        {% set s1 = anchor.bp_length_N - 2 * 40 %}
        {% set s2 = anchor.bp_width_B - 2 * 40 %}
        {% set A_NC = (3 * anchor.embed_depth + s1) * ([(3 * anchor.embed_depth + s2), (2 * anchor.C_a1 + s2)] | min) %}
        {% set A_VC = (3 * anchor.C_a1 + s1) * (1.5 * anchor.C_a1) %}

    {% elif anchor.clump_type == "L Clump Top" %}
        {% set top = cat.anchorage[0] %}
        {% set front = cat.anchorage[1] %}

        {% set design_Ry = top.reaction_Ry * 1.6 %}
        {% set design_Rz = top.reaction_Rz * 1.4 %}

        {% set e_f2 = (front.bp_width_B / 2) - 40 %}
        {% set e_f1 = [((top.h_a / 2) - e_f2), ((front.bp_width_B / 2) - 40)] | min %}
        {% set e_t2 = front.fin_e %}
        {% if top.anchor_nos == 2 %}
            {% set e_t1 = top.C_a1 %}
        {% else %}
            {% set s2 = top.bp_width_B - 2 * 40 %}
            {% set e_t1 = top.C_a1 + s2 / 2 %}
        {% endif %}
        {% set Bx = (design_Ry * e_f2) / (e_f1 + e_f2) %}
        {% set Ax = design_Ry - Bx %}
        {% set By = (design_Rz * (e_t1 + e_t2)) / e_t1 %}
        {% set Ay = design_Rz - By %}
        
        {% set N_ua = 0 %}
        {% set N_ug = 0 %}
        {% set V_ua = Ax / top.anchor_nos %}
        {% set V_ug = V_ua * 2 %}
        
        {% set bp_b = 0 %}
        {% set bp_n = 0 %}
        {% set fin_length = front.fin_e + 50 %}
        {% set fin_width = front.bp_width_B %}
        {% set thr_bolt_nos = 2 %}
        {% set thr_bolt_length = 100 %}

        {% set s1 = anchor.bp_length_N - 2 * 40 %}
        {% if top.anchor_nos == 2 %}
            {% set s2 = 0 %}
        {% else %}
            {% set s2 = anchor.bp_width_B - anchor.C_a1 - 40 %}
        {% endif %}
        {% set A_NC = (3 * anchor.embed_depth + s1) * (1.5 * anchor.embed_depth + s2 + ([1.5 * anchor.embed_depth, anchor.C_a1] | min)) %}
        {% set A_VC = (3 * anchor.C_a1 + s1) * ([anchor.h_a, (1.5 * anchor.C_a1)] | min) %}
        {% set bp_d = anchor.bp_width_B %}

    {% elif anchor.clump_type == "L Clump Front" %}
        {% set top = cat.anchorage[0] %}
        {% set front = cat.anchorage[1] %}

        {% set design_Ry = top.reaction_Ry * 1.6 %}
        {% set design_Rz = top.reaction_Rz * 1.4 %}

        {% set e_f2 = (front.bp_width_B / 2) - 40 %}
        {% set e_f1 = [((top.h_a / 2) - e_f2), ((front.bp_width_B / 2) - 40)] | min %}
        {% set e_t2 = front.fin_e %}
        {% if top.anchor_nos == 2 %}
            {% set e_t1 = top.C_a1 %}
        {% else %}
            {% set s2 = top.bp_width_B - 2 * 40 %}
            {% set e_t1 = top.C_a1 + s2 / 2 %}
        {% endif %}
        {% set Bx = (design_Ry * e_f2) / (e_f1 + e_f2) %}
        {% set Ax = design_Ry - Bx %}
        {% set By = (design_Rz * (e_t1 + e_t2)) / e_t1 %}
        {% set Ay = design_Rz - By %}

        {% set N_ua = Bx / front.anchor_nos %}
        {% set N_ug = N_ua * front.anchor_nos %}
        {% set V_ua = By / front.anchor_nos %}
        {% set V_ug = V_ua * front.anchor_nos %}

        {% set s1 = anchor.bp_length_N - 2 * 40 %}
        {% set s2 = 0 %}
        {% set A_NC = (3 * anchor.embed_depth + s1) * ([(3 * anchor.embed_depth + s2), (2 * anchor.C_a1 + s2)] | min) %}
        {% set A_VC = (3 * anchor.C_a1 + s1) * (1.5 * anchor.C_a1) %}
    {% endif %}


    {# ======================= Basic Calculation ==================== #}
    {% if anchor.clump_type == "U Clump" or anchor.clump_type == "L Clump Front" %}
        {% if anchor.thr_bolt_dia == 10 %}
            {% set thr_bolt_AseN = 58.0 %}
        {% elif anchor.thr_bolt_dia == 12 %}
            {% set thr_bolt_AseN = 84.3 %}
        {% elif anchor.thr_bolt_dia == 16 %}
            {% set thr_bolt_AseN = 156.7 %}
        {% endif %}

        {# Through bolt #}
        {% set thr_bolt_nos = 2 %}
        {% set thr_bolt_length = 100 %}
        {% set thr_Vh = design_Ry / (thr_bolt_nos * 2) %}
        {% set thr_Vv = design_Rz / (thr_bolt_nos * 2) %}
        {% set thr_Vu = (thr_Vh**2 + thr_Vv**2)**0.5 %}
        {% set thr_Ab = (3.1416 * anchor.thr_bolt_dia**2) / 4 %}
        {% set thr_shear_phi_Rn = 0.75 * 280 * thr_Ab / 1000 %}
        {% set thr_bearing_lc = anchor.fin_e %}
        {% set thr_bearing_phi_Rn1 = 0.75 * 1.2 * thr_bearing_lc * anchor.fin_thk * 450 / 1000 %}
        {% set thr_bearing_phi_Rn2 = 0.75 * 2.4 * anchor.thr_bolt_dia * anchor.fin_thk * 450 / 1000 %}
        {% set thr_bearing_phi_Rn = [thr_bearing_phi_Rn1, thr_bearing_phi_Rn2] | min %}
        
        {# Fin Plate #}
        {% set fin_Vh = design_Ry / 2 %}
        {% set fin_Vv = design_Rz / 2 %}
        {% set fin_Vu = (fin_Vh**2 + fin_Vv**2)**0.5 %}
        {% set fin_Mu = fin_Vv * anchor.fin_e / 1000 %}
        {% set fin_length = anchor.fin_e + 50 %}
        {% set fin_width = anchor.bp_width_B %}
        {% set fin_thk_req = (4 * fin_Mu) / (0.9 * 345 * fin_width**2) %}
        {% set fin_dh = anchor.thr_bolt_dia + 2 %}
        {% set fin_shear_phi_Rn_yield = 0.6 * 345 * fin_width * anchor.fin_thk / 1000 %}
        {% set fin_rupture_Anv = (fin_width - thr_bolt_nos * fin_dh) * anchor.fin_thk %}
        {% set fin_shear_phi_Rn_rupture = 0.75 * 0.6 * 450 * fin_rupture_Anv / 1000 %}
        {% set fin_bgv = fin_width - 40 %}
        {% set fin_bnt = 50 %}
        {% set fin_block_Anv = (fin_bgv - ((2 * thr_bolt_nos - 1) * (fin_dh / 2))) * anchor.fin_thk %}
        {% set fin_block_Ant = (fin_bnt - (fin_dh / 2)) * anchor.fin_thk %}
        {% set fin_block_phi_Rn1 = (0.75 * 0.6 * 450 * fin_block_Anv + 450 * fin_block_Ant) / 1000  %}
        {% set fin_block_phi_Rn2 = (0.75 * 0.6 * 345 * fin_bgv * anchor.fin_thk + 450 * fin_block_Ant) / 1000 %}
        {% set fin_block_phi_Rn = [fin_block_phi_Rn1, fin_block_phi_Rn2] | min %}

        {# Fin weld #}
        {% set weld_fn = (design_Ry * 1000 / 2) / (fin_width * 2) %}
        {% set weld_fv = (design_Rz * 1000 / 2) / (fin_width * 2) %}
        {% set weld_fb = ((design_Rz * 1000 / 2) * anchor.fin_e) / ((fin_width**2) / 3) %}
        {% set weld_fR = (weld_fn**2 + weld_fv**2 + weld_fb**2)**0.5 %}

        {# Base Plate tension #}
        {% set bp_b = anchor.bp_width_B %}
        {% set bp_d = anchor.bp_d %}
        {% set bp_x = ((anchor.bp_length_N - bp_d) / 2) - 40 %}
        {% set bp_Beff = [(2 * bp_x), (bp_x + 40)] | min %}
        {% set bp_tension_Mu = N_ua * bp_x / 1000 %}
        {% set bp_thk_tension = ((4 * bp_tension_Mu * 1000**2) / (0.9 * 345 * bp_Beff))**0.5 %}
    {% endif %}


    {# =============== Anchor Failure Mode ==================== #}
    {% set phi_Nsa = 0.75 * A_seN * 500 / 1000 %}
    {% set A_NCO = 9 * anchor.embed_depth**2 %}
    {% set psi_edN = [(0.7 + (0.3 * anchor.C_a1) / (1.5 * anchor.embed_depth)) , 1.0] | min %}
    {% set N_b = 7 * 27.5**0.5 * anchor.embed_depth**1.5 / 1000 %}
    {% set phi_Ncbg = 0.65 * (A_NC / A_NCO) * psi_edN * N_b %}
    {% set phi_Npn = 0.7 * N_p5 %}
    {% set beta_N1 = N_ua / phi_Nsa %}
    {% set beta_N2 = N_ug / phi_Ncbg %}
    {% set beta_N3 = N_ua / phi_Npn %}

    {% set phi_Vsa = 0.65 * 0.6 * A_seN * 500 / 1000 %}
    {% set A_VCO = 4.5 * anchor.C_a1**2 %}
    {% set psi_edV = [(0.7 + (0.3 * 1000) / (1.5 * anchor.C_a1)) , 1.0] | min %}
    {% set psi_hV = [((1.5 * anchor.C_a1 / h_a)**0.5), 1.0] | max %}
    {% set d_a = anchor.anchor_dia %}
    {% set l_e = [anchor.embed_depth, (8 * d_a)] | min %}
    {% set V_b = 0.6 * (l_e / d_a)**0.2 * d_a**0.5 * 27.5**0.5 * anchor.C_a1**1.5 / 1000 %}
    {% set phi_Vcbg = 0.7 * (A_VC / A_VCO) * psi_edV * psi_hV * V_b %}
    {% set phi_Vcp = (0.7 * 2 * phi_Ncbg) / 0.65 %}
    {% set beta_V1 = V_ua / phi_Vsa %}
    {% set beta_V2 = V_ug / phi_Vcbg %}
    {% set beta_V3 = V_ug / phi_Vcp %}

    {% set beta_N = [beta_N1, beta_N2, beta_N3] | max %}
    {% set beta_V = [beta_V1, beta_V2, beta_V3] | max %}
    {% set beta_NV = beta_N**1.67 + beta_V**1.6 %}

    {# ===================== Base Plate bearing ======================== #}
    {% set bp_m = (anchor.bp_length_N - 0.95 * bp_d) / 2 %}
    
    {% if anchor.clump_type == "Box Clump" or anchor.clump_type == "L Clump Top" %}
        {% set bp_Pu = design_Rz %}
    {% elif anchor.clump_type == "U Clump" %}
        {% set bp_Pu = design_Ry %}
        {% set bp_n = (anchor.bp_width_B - 0.8 * bp_b) / 2 %}
    {% elif anchor.clump_type == "U Clump" or anchor.clump_type == "L Clump Front" %}
        {% set bp_Pu = design_Ry %}
        {% set bp_n = (anchor.bp_width_B - 0.8 * bp_b) / 2 %}
    {% endif %}

    {% set bp_lambda_n = (bp_d * bp_b)**0.5 / 4 %}
    {% set bp_l = [bp_m, bp_n, bp_lambda_n] | max %}
    {% set bp_q = bp_Pu * 1000 / anchor.bp_length_N %}
    {% set bp_bearing_Mu = ((bp_q * bp_l**2) / 2) / (1000**2) %}
    {% set bp_thk_bearing = ((4 * bp_bearing_Mu) / (0.9 * 345 * anchor.bp_width_B))**0.5 * 1000 %}

    {% set bp_A1 = bp_Pu * 1000 / (0.65 * 0.85 * 27.5) %}
    {% set bp_fp_max = [(0.65 * 0.85 * 27.5), (0.65 * 1.7 * 27.5)] | min %}


    {# include template #}
    {% if anchor.clump_type == "Box Clump" %}
        {% include "partials/box-clump.html" %}
    {% elif anchor.clump_type == "U Clump" %}
        {% include "partials/u-clump.html" %}
    {% elif anchor.clump_type == "L Clump Top" %}
        {% include "partials/l-clump-top.html" %}
    {% elif anchor.clump_type == "L Clump Front" %}
        {% include "partials/l-clump-front.html" %}
    {% endif %}

{% endif %}
{% endfor %}

