<section class="chapter__front">
    <h1>Design Moment Capacity of Profiles</h1>
</section>
<section>
    {% if alum_profiles %}
        {% for profile in alum_profiles | unique(attribute='profile_name') %}
            {% set calc = profile.result or profile._calc %}
            {% include "partials/alum-cap.html" %}
        {% endfor %}
    {% endif %}

    {% if steel_profiles %}
        {% for profile in steel_profiles %}
            {% set calc = profile.result or profile._calc %}
            {% include "partials/steel-cap.html" %}
        {% endfor %}
    {% endif %}
</section>

